<!-- <div class="ui grid" fxHide.xs fxHide.sm fxShow.gt-xs>
  <div class="six wide column">
   <div>
    <div>
        <iframe src="https://officialndc.com/update-for-special-voters/" height="500px" width="100%"></iframe>
    </div>
  
</div>
  </div>
  <div class="five wide column">
      <div>
          <iframe src="https://officialndc.com/electoral-commission-news-release/" height="500px" width="100%"></iframe>
      </div>
  </div>
  <div class="five wide column">
      <div>
          <iframe src="https://officialndc.com/peaceful-elections-are-everyones-responsibility/" height="500px" width="100%"></iframe>
      </div>
  </div>
</div> -->
<div>
    <div>
        <iframe src="https://officialndc.com/" height="900px" width="100%"></iframe>
    </div>
  
</div>
